section.services {
  max-width: none;
  padding: 0;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFD8F9;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
  max-width: 1440px;
  width: 100%;
  padding: var(--space-5) 80px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: var(--space-3);
  width: 100%;
}

.services ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-3);
  width: 100%;
}

.services li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--space-1);
  text-align: center;
  flex: 1;
}

.services li img {
  max-width: 100px;
}
