/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

ul {
    list-style: none;
}

/* Typography */
.bold-xl {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
}

.bold-l {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.bold-m {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.regular-m {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.regular-s {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* Main styles */
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 120px;
}

nav ul {
    display: flex;
    gap: 10px;
}

main {
    flex: 1;
    padding-right: 120px;
    padding-left: 120px;
}

.hero {
    display: flex;
    gap: 30px;
}

.intro {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: column;
}

footer {
    padding: 100px 120px;
}