body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px var(--space-6);
    max-width: 1440px;
    width: 100%;
    color: var(--white);
}

nav ul {
    display: flex;
    gap: var(--space-3);
}

nav a {
    color: var(--white);
}

nav a:hover, nav a:active {
    color: var(--primary-content);
    border-color: var(--primary-content);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
}

section {
    max-width: 1440px;
    width: 100%;
    padding: var(--space-5) var(--space-6);
}

section.hero {
    max-width: none;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-2);
    max-width: 1440px;
    padding: var(--space-5) var(--space-6);
    color: var(--white);
}

.hero .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: var(--space-3);
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-4);
}

.content .text-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-4);
}

.content .text-container .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .articles {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.content .articles article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-text {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-2);
}

.features {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-4);
}

.features ul {
    display: flex;
    justify-content: space-between;
    gap: var(--space-3);
    width: 100%;
}

.features li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--space-2);
}

.features div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--space-1);
}

section.testimonial {
    max-width: none;
    padding: 0;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--system);
}

.testimonial .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-4);
    max-width: 1440px;
    width: 100%;
    padding: var(--space-5) var(--space-6);
}

.testimonial .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2);
}

.reviews {
    display: flex;
    gap: var(--space-2);
}

.review {
    padding: 30px;
    border-radius: 10px;
    background-color: var(--white);
}

.call-to-action .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--space-3);
    background-color: var(--system);
    padding: var(--space-4);
    border-radius: 24px;
}

.call-to-action .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-2);
    width: 50%;
}

.faq {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--primary);
}

footer .container {
    max-width: 1440px;
    width: 100%;
    padding: var(--space-5) var(--space-6);
    color: var(--white);
}

footer a {
    color: var(--white);
}