.bold-xl {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
}

.bold-l {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.bold-m {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.regular-m {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.regular-s {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}