.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
  padding-top: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--space-3);
}

.intro h1 {
  position: relative;
  right: 90px;
}

.intro i {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 300;
  font-size: 33px;
  line-height: 38px;
}

.hero img {
  max-width: 600px;
  border-radius: 70px;
}
