.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}

.hero h1 {
  position: relative;
  left: 200px;
}

.intro {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.intro img {
  max-width: 700px;
  border-radius: 20px;
}

.intro p {
  margin-bottom: 20px;
}

.intro p:last-child {
  margin-bottom: 0;
}

.intro .speciality {
  font-style: italic;
}

.hero a {
  position: absolute;
  bottom: 50px;
  text-align: center;
}

.intro .text_container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 449px) {
  .intro img {
    max-width: 300px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 549px) {
  .intro img {
    max-width: 400px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
  .intro img {
    max-width: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .hero a {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) {
  .hero h1 {
    left: 0;
  }

  .intro {
    flex-direction: column;
  }

  .intro .text_container {
    text-align: center;
  }

  .hero a {
    position: absolute;
    right: 200px;
    bottom: 400px;
  }
}
