* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

html.light {
  font-weight: 300;
}

html.medium {
  font-weight: 500;
}

html.bold {
  font-weight: 700;
}

html.black {
  font-weight: 900;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}