h1 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 300;
  font-size: 71px;
  line-height: 71px;
}

h2 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 47px;
}

h3 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 300;
  font-size: 33px;
  line-height: 38px;
}