header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--soft-sage-green);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px var(--space-6);
    max-width: 1440px;
    width: 100%;
}

nav ul {
    display: flex;
    gap: var(--space-3);
}
