footer {
  display: flex;
  justify-content: center;
  max-width: none;
  width: 100%;
  background-color: #FFD8F9;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  padding: var(--space-2);
}
