footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--soft-sage-green);
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: var(--space-5) var(--space-6);
}
