footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  max-width: none;
  width: 100%;
  background-color: #909c87;
  color: var(--white);
}

.footer_rectangles {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
}

.rectangle {
  background-color: #909c87;
  opacity: 1;
  transition-duration: 400ms;
}

.rectangle_1 { height: 2px; }
.rectangle_2 { height: 4px; }
.rectangle_3 { height: 6px; }
.rectangle_4 { height: 8px; }
.rectangle_5 { height: 10px; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  padding: var(--space-5) 80px var(--space-2);
  gap: var(--space-3);
}

.description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-2);
}

.logo {
  max-width: 140px;
  width: 100%;
  padding: 0;
}

.logo:hover {
  background: none;
}

.location {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.map {
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 20px;
}

.address {

}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2);
  width: 100%;
  padding-top: var(--space-2);
  border-top: 1px solid #ffffff4d;
  font-size: 16px;
  line-height: 24px;
}

.socials {
  display: flex;
  gap: 5px;
}
